.tituloPrinncipal{
	padding: 0px 0px 20px;
}
.card {
border:none;
}
img{
	width: 200px; 
    height: 245px; 
}
.titulo {
 color: #000000;
 font-weight: 700;
 font-size: 13px;
}
.span {
    font-size: 10px;
    font-weight: 700;
    line-height: 16px;
    width: 70px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    display: inline-block;
    height: 16px;
    border-radius: 8px;
    background-color: #01bcf3;
}
.contenido {
	text-align: center;
	padding: 5px;
}
a {
	text-decoration:none;
}	
